body {
  min-height: 100vh;
}

main {
  flex: 1;
}

p {
  margin-bottom: 10px;
  }

#parameters {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

#logo-ensimag {
  max-height: none;
}

#notification {
  position: fixed;
  bottom: 0;
  right: 0;
}

#indicator-year {
  min-width: 10rem;
}

.heatmap-country-default {
  fill: grey; /* default country color in heatmap */
}

#heatmap-title {
  font-weight: 300;
  font-size: 16px;
}

#heatmap-subtitle,
.legend-text {
  font-weight: 200;
  font-size: 12px;
}

#tooltip > polyline {
  fill: #ebf4f8;
  stroke: black;
  opacity: 0.9;
  stroke-width: 1;
  padding: 1em;
}

#heatmap-subtitle,
#tooltip > tspan,
#tooltip > line,
.legend-text {
  stroke: #929292;
}

#tooltip-score,
#tooltip > text {
  fill: #bb633a;
}

#tooltip > text {
  font-size: 13px;
}

#tooltip-country {
  font-weight: 600;
  font-size: 16px;
}

#svg {
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
}

#tooltip-score {
  font-weight: bold;
}

.tag.is-info {
  background-color: #3e8ed0 !important;
}

.tag.is-success {
  background-color: #198038 !important;
}

.tag.is-warning {
  color: white !important;
  background-color: #ffa600 !important;
}

.tag.is-primary {
  background-color: #003f5c !important;
}

.tag.is-danger {
  background-color: #dd5182 !important;
}

.tag.is-link {
  background-color: #485fc7 !important;
}

#scatter-chart {
  width: 2/3%;
}
