nav,
footer,
#parameters {
  display: none;
}

img {
  max-height: 25rem;
}

body,
code,
a {
  color: #000;
}

a[href]::after {
  content: " (" attr(href) ")"; /* affichage des URL des liens */
  text-decoration: underline;
}

.tag {
  font-size: 1.5em !important;
}

.is-info {
  color: #3e8ed0 !important;
}

.is-success {
  color: #198038 !important;
}

.is-warning {
  color: #ffa600 !important;
}

.is-primary {
  color: #003f5c !important;
}

.is-danger {
  color: #dd5182 !important;
}

.is-link {
  color: #485fc7 !important;
}
